<p>
<b><sc_element sys_idtf  = "sc_agent_of_preprocessing_of_agent_scp_program">sc-агент предварительной обработки агентных scp-программ</sc_element></b> осуществляет проверку корректности связки 
<sc_element sys_idtf  = "rrr">спецификации sc-события, инициирующего агентную scp-программу*</sc_element>, соответствующей некоторой 
<sc_element sys_idtf  = "agent_scp_program">агентной scp-программе</sc_element>, и, в случае ее корректности, добавляет ее во множество 
<sc_element sys_idtf  = "rrr">сформированных спецификаций sc-событий</sc_element>. Таким образом, Данный 
<sc_element sys_idtf  = "sc_agent">sc-агент</sc_element> активируется при появлении в 
<sc_element sys_idtf  = "sc_memory">sc-памяти</sc_element> 
<sc_element sys_idtf  = "agent_scp_program">агентной scp-программы</sc_element>, принадлежащей классу 
<sc_element sys_idtf  = "rrr">корректных scp-программ</sc_element>.
</p>