<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}common/highlight/googlecode.css" />

<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}common/jquery/jquery-1.8.3.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}common/jquery/jquery.namespace.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}common/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}common/typeahead/typeahead.bundle.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}common/kinetic/kinetic-v4.0.1.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}common/d3/d3.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}common/highlight/highlight.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}common/base64/base64.min.js"></script>
