<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}components/css/scg.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}components/css/scs.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}components/css/scn.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}components/css/html.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}components/css/github.css" />

<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}components/js/sc-web-core.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}components/js/scs/scs.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}components/js/scg/scg.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}components/js/scn/scn.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}components/js/txt/txt.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}components/js/image/image.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}components/js/html/html.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}components/js/youtube/youtubelink.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}components/js/map/googlemaplink.js"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}components/js/github/github.js"></script>


