<ul>
<li>Отношением соответствия может быть как бинарное ориентированное отношение, так и бинарное неориентированное отношение.</li>
<li>Соответствующие друг другу множества (si и sj) могут не пересекаться, могут строго пересекаться, могут быть связаны связкой отношения включения, могут совпадать.</li>
<li>В каждой связке отношения ri один из компонентов принадлежит множеству si, а второй – множеству sj.</li>
<li>Множества si и sj могут соотноситься с областью определения отношения ri самым разным вариантом:
(1)	оба или одно из них могут строго пересекаться с этой областью определения
(2)	оба или одно из них могут быть подмножествами этой области определения
В последнем варианте множества si и sj есть домены отношения ri, если оно является ориентированным либо есть аналоги таких доменов, если ri является неориентированным. </li>
</ul>

