{% extends "repo/base.html" %}

{% block extrascripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}repo/js/view.js"></script>
{% endblock extrascripts %}

{% block content %}

    <div class="source-view-wrapper">
        <ol class="breadcrumb" id="repo-path">
        </ol>
        
        <div class="tree-browser-wrapper bubble">
            <div class="tree-browser-tools">
                <button href="#new-file-modal" class="btn btn-primary" title="Create new file" data-toggle="modal"><span class="glyphicon glyphicon-file"></span></button>
                <button href="#new-dir-modal" class="btn btn-primary" title="Create new directory" data-toggle="modal"><span class="glyphicon glyphicon-folder-close"></span></button>
                <button class="btn btn-primary" title="Upload file" disabled="disabled"><span class="glyphicon glyphicon-cloud-upload"></span></button>
                <button class="btn btn-primary" title="History" disabled="disabled"><span class="glyphicon glyphicon-tags"></span></button>
                <button class="btn btn-primary" title="Build knowledge base"><span class="glyphicon glyphicon-import"></span></button>
                
                <form class="form-search pull-right">
                    <div class="input-append">
                        <input class="span2 search-query" id="tree-browser-seach-button" type="text" data-provide="typeahead">
                        <button class="btn btn-info" type="button" title="Search file"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </form>
            </div>
            <div class="tree-browser-last-commit hidden" id="last-commit"></div>
            <table class="table table-hover" id="files-list-table">
                {# File list will be placed there #}
            </table>
            
        </div>
    </div>
    
    {# New file modal dialog #}
    <div id="new-file-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h2 id="new-file-modal-label">New file</h2>
        </div>
        <div class="modal-body">
            <label>File name:</label>
            <div class="input-append">
                <input id="tree-browser-filename-input" class="span2 input-xxlarge tree-browser-filename-input" type="text">
                <span class="add-on">.scs</span>
            </div>
            <p id="tree-browser-filename-error">This file already exist</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="tree-browser-filecreate-button" class="btn btn-primary">Create</button>
        </div>
    </div>
    
    {# New dir modal dialog #}
    <div id="new-dir-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h2 id="new-dir-modal-label">New directory</h2>
        </div>
        <div class="modal-body">
            <label>Directory name:</label>
            <div class="input-append">
                <input id="tree-browser-dirname-input" class="span2 input-xxlarge tree-browser-filename-input" type="text">
            </div>
            <p id="tree-browser-dirname-error">This directory already exist</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="tree-browser-dircreate-button" class="btn btn-primary">Create</button>
        </div>
    </div>
    
{% endblock %}


